* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    height: 8000px; /*only see*/
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    display: block;
}

img[href$=".jpg"]{
    border-radius: 4px;
}