.introducao-bg {
    background: #000000;
    color: #ffffff;
}

.introducao {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 40px;
    max-width: 1200px;
    padding: 0px 20px;
    margin: 0px auto;
}

.introducao-conteudo {
    align-self: end;
    padding-bottom: 80px;
}