:root {
    --color-c12: #000000;
    --color-c11: #111111;
    --color-c10: #2E2E2E;
    --color-c09: #404040;
    --color-c08: #595959;
    --color-c07: #717171;
    --color-c06: #9C9C9C;
    --color-c05: #B2B2B2;
    --color-c04: #CCCCCC;
    --color-c03: #DEDEDE;
    --color-c02: #F7F7F7;
    --color-c01: #EDEDED;
    --color-w: #FFFFFF;
    
    --color-p5: #332200;
    --color-p4: #664400;
    --color-p3: #A66F00;
    --color-p2: #E4A30B;
    --color-p1: #FFBB00;
}

.color-12 {
    color: var(--color-c12);
}

.color-11 {
    color: var(--color-c11);
}

.color-10 {
    color: var(--color-c10);
}

.color-9 {
    color: var(--color-c09);
}

.color-8 {
    color: var(--color-c08);
}

.color-7 {
    color: var(--color-c07);
}

.color-6 {
    color: var(--color-c06);
}