.font-po-xx {
    font-size: 4rem;
    line-height: 1.125;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.font-ro-s, .font-ro-s-bold {
    font-size: 24px;
    line-height: 1.5;
    font-family: "Roboto";
    font-weight: 400;
}

.point {
    color: #ffbb00;
}

@media (max-width: 1200px) {
    .font-po-xx {
        font-size: 3rem;
    }
}

@media (max-width: 800px) {
    .font-po-xx {
        font-size: 2rem;
    }
}